USE [master]
GO
/****** Objeto: Database [ISP_PERU] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
CREATE DATABASE [ISP_PERU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ISP_PERU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ISP_PERU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ISP_PERU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ISP_PERU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ISP_PERU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ISP_PERU]
GO
/****** Objeto: Table [dbo].[Areas] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_area] [varchar](100) NOT NULL,
	[ubicacion_planta] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Capacitaciones] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacitaciones](
	[curso_id] [int] IDENTITY(1,1) NOT NULL,
	[titulo_curso] [varchar](150) NOT NULL,
	[descripcion_curso] [text] NULL,
	[progreso_obligatorio] [int] NULL,
	[url_video] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[curso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Checklist_Diario] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checklist_Diario](
	[checklist_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[cumple_epp] [bit] NOT NULL,
	[herramientas_optimas] [bit] NOT NULL,
	[condicion_salud] [varchar](100) NOT NULL,
	[observaciones] [text] NULL,
	[fecha_envio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[checklist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Incidentes] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidentes](
	[incidente_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[area_id] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[descripcion] [text] NOT NULL,
	[foto_evidencia] [varchar](max) NULL,
	[estado] [varchar](30) NULL,
	[fecha_reporte] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[incidente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Matriculas_Capacitacion] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matriculas_Capacitacion](
	[matricula_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[curso_id] [int] NOT NULL,
	[porcentaje_progreso] [int] NULL,
	[fecha_asignacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[matricula_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_completo] [varchar](150) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[rol] [varchar](30) NOT NULL,
	[foto_perfil] [varchar](max) NULL,
	[codigo_empleado] [varchar](20) NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([area_id], [nombre_area], [ubicacion_planta]) VALUES (1, N'Almacén Central de Materiales', N'Bloque A - Piso 1')
INSERT [dbo].[Areas] ([area_id], [nombre_area], [ubicacion_planta]) VALUES (2, N'Línea de Producción Automotriz', N'Bloque B - Zona Industrial')
INSERT [dbo].[Areas] ([area_id], [nombre_area], [ubicacion_planta]) VALUES (3, N'Almacén Central de Materiales', N'Bloque A - Piso 1')
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
SET IDENTITY_INSERT [dbo].[Capacitaciones] ON 

INSERT [dbo].[Capacitaciones] ([curso_id], [titulo_curso], [descripcion_curso], [progreso_obligatorio], [url_video]) VALUES (1, N'Uso correcto de equipos de protección (EPP)', N'Normativa básica de SST para ingreso a planta.', 100, N'assets/videos/epp_tutorial.mp4')
INSERT [dbo].[Capacitaciones] ([curso_id], [titulo_curso], [descripcion_curso], [progreso_obligatorio], [url_video]) VALUES (2, N'Prevención de incendios en almacén', N'Uso correcto de extintores PQS y CO2.', 100, NULL)
INSERT [dbo].[Capacitaciones] ([curso_id], [titulo_curso], [descripcion_curso], [progreso_obligatorio], [url_video]) VALUES (3, N'Uso correcto de equipos de protección (EPP)', N'Normativa básica de SST para ingreso a planta.', 100, N'assets/videos/epp_tutorial.mp4')
SET IDENTITY_INSERT [dbo].[Capacitaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Incidentes] ON 

INSERT [dbo].[Incidentes] ([incidente_id], [usuario_id], [area_id], [tipo], [titulo], [descripcion], [foto_evidencia], [estado], [fecha_reporte]) VALUES (1, 2, 1, N'Tranquila', N'Desgaste en cableado de faja', N'Se observa desgaste superficial en el aislamiento del motor de la faja.', NULL, N'Pendiente', CAST(N'2026-06-01T22:28:23.207' AS DateTime))
INSERT [dbo].[Incidentes] ([incidente_id], [usuario_id], [area_id], [tipo], [titulo], [descripcion], [foto_evidencia], [estado], [fecha_reporte]) VALUES (2, 2, 1, N'Tranquila', N'Desgaste en cableado de faja', N'Se observa desgaste superficial en el aislamiento del motor de la faja.', NULL, N'Pendiente', CAST(N'2026-06-19T18:09:48.533' AS DateTime))
INSERT [dbo].[Incidentes] ([incidente_id], [usuario_id], [area_id], [tipo], [titulo], [descripcion], [foto_evidencia], [estado], [fecha_reporte]) VALUES (3, 2, 1, N'Tranquila', N'Desgaste en cableado de faja', N'Se observa desgaste superficial en el aislamiento del motor de la faja.', NULL, N'Pendiente', CAST(N'2026-06-19T18:10:08.733' AS DateTime))
SET IDENTITY_INSERT [dbo].[Incidentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Matriculas_Capacitacion] ON 

INSERT [dbo].[Matriculas_Capacitacion] ([matricula_id], [usuario_id], [curso_id], [porcentaje_progreso], [fecha_asignacion]) VALUES (1, 2, 1, 70, CAST(N'2026-06-01T22:28:23.207' AS DateTime))
INSERT [dbo].[Matriculas_Capacitacion] ([matricula_id], [usuario_id], [curso_id], [porcentaje_progreso], [fecha_asignacion]) VALUES (2, 2, 1, 70, CAST(N'2026-06-19T18:09:52.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Matriculas_Capacitacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([usuario_id], [nombre_completo], [correo], [password], [rol], [foto_perfil], [codigo_empleado], [fecha_registro]) VALUES (1, N'Administrador ISP', N'admin@gmail.com', N'admin123', N'supervisor', NULL, N'SUP-2026-01', CAST(N'2026-06-01T22:28:23.203' AS DateTime))
INSERT [dbo].[Usuarios] ([usuario_id], [nombre_completo], [correo], [password], [rol], [foto_perfil], [codigo_empleado], [fecha_registro]) VALUES (2, N'Bob Esponja', N'bob@isp.com', N'trabajador123', N'trabajador', NULL, N'TRAB-2026-89', CAST(N'2026-06-01T22:28:23.203' AS DateTime))
INSERT [dbo].[Usuarios] ([usuario_id], [nombre_completo], [correo], [password], [rol], [foto_perfil], [codigo_empleado], [fecha_registro]) VALUES (3, N'Gia', N'gia@isp.com', N'trabajador123', N'trabajador', NULL, N'TRAB-2026-90', CAST(N'2026-06-02T00:58:50.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__2A586E0B10133C59] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__CDEF1DDF61F428A7] Fecha de script: 23/06/2026 09:23:52 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[codigo_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Capacitaciones] ADD  DEFAULT ((0)) FOR [progreso_obligatorio]
GO
ALTER TABLE [dbo].[Checklist_Diario] ADD  DEFAULT (getdate()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[Incidentes] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Incidentes] ADD  DEFAULT (getdate()) FOR [fecha_reporte]
GO
ALTER TABLE [dbo].[Matriculas_Capacitacion] ADD  DEFAULT ((0)) FOR [porcentaje_progreso]
GO
ALTER TABLE [dbo].[Matriculas_Capacitacion] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Checklist_Diario]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Areas] ([area_id])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[Matriculas_Capacitacion]  WITH CHECK ADD FOREIGN KEY([curso_id])
REFERENCES [dbo].[Capacitaciones] ([curso_id])
GO
ALTER TABLE [dbo].[Matriculas_Capacitacion]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD CHECK  (([estado]='Atendido' OR [estado]='En Revisión' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Incidentes]  WITH CHECK ADD CHECK  (([tipo]='Alta' OR [tipo]='Tranquila'))
GO
ALTER TABLE [dbo].[Matriculas_Capacitacion]  WITH CHECK ADD CHECK  (([porcentaje_progreso]>=(0) AND [porcentaje_progreso]<=(100)))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([rol]='trabajador' OR [rol]='supervisor'))
GO
USE [master]
GO
